
  <div class='behailu'>
    <div id="mainbody">
     <div class="edituser">
       <h1>HTML from behailu</h1>
        <h1>Edit <%= @user.name %></h1>
     </div>
     <div class="infobox">
       <% if @user.errors.any? %>
         <h1>Please correct the following issues: </h1>
         <%= @user.errors.messages do |key, value | %>
           <p>"#{key}: #{value}"</p>
         <% end %>
       <% end %>
       <%= form_for @user do |form| %>
         Name: <%= form.text_field :name %><br />
         Email : <%= form.text_field :email %><br />
         Phone : <%= form.text_field :phone %><br />
         <%= form.submit %>
       <% end %>
    </div>
  </div>

  <footer>
    @ 2018 List of All Users. All rights reserved.
  </footer>
  </div>
